# Ignore directories

__pycache__
.venv

# Ignore sensible files

.env
client_id.json
token.json

# Ignore test files

tokens.py
gospelbot_log.txt

# Ignore filenames

*.log
*.mp4
*.mp3
*.wav
*.png
*.ogg
*.jpeg
*.jpg
*.ico
*.pdn