# Ignore directories

__pycache__
.venv

output/*
downloads/*
logs/*
build
youtube

# Ignore sensible files

.env
token.json
client_id.json
gospelbot_log.txt

# Ignore filenames

*.log
*.ico
*.pdn
*.egg-info